<div style="display: flex; flex-direction: column; align-items: flex-end; gap: 5px;">
    <svg viewBox="0 0 36 36" style="height: 30px; width: 30px;" [style.stroke]="badgeColor()">
        <path style="fill: none; stroke: #eee; stroke-width: 3.8;" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <path style="fill: none; stroke-width: 2.8; stroke-linecap: round;"
            [attr.stroke-dasharray]="badgePercentage() + ', 100'" d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"></path>
        <text x="18" y="23" style="font-size: 14px; stroke: #312A29; text-anchor: middle;">{{wineRating().score}}</text>
    </svg>
    <span style="font-size: 12px; color: #312A29; text-align: center;">{{wineRating().reviewsCount}} reviews</span>
</div>